<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Admin Module by Martyn</title>
    <link href="{{adminUrl}}/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="main-block" data-hook="main-block">
        </div>
        <div id="side-block" data-hook="side-block">
            <div id="user-info">
                <h5>Welcome, {{user.name}}</h5>
                <a href="logout">Logout</a>
            </div><!--
         --><div id="module-list" data-hook="module-list">
            </div>
        </div>
    </div>
    <script src="{{adminUrl}}/js/vendor.js"></script>
    <script src="{{adminUrl}}/js/app.bundle.js"></script>
</body>
</html>
