<tr>
    {{#each this}}
    <td>
        <span db-field="{{@key}}" data-hook="{{@key}}-field">{{this}}</span>
        <input class="hidden" data-hook="{{@key}}" value="{{this}}">
    </td>
    {{/each}}
</tr>