<li class="collection-item">
    <div class="collection-title" data-hook="collection-title"></div>
    <div class="collection-actions">
        <ul>
            <li><a href="" class="icon-folder-open" title="open" data-hook="collection-open"></a></li>
            <li class="icon-trash" title="delete" data-hook="collection-delete"></li>
        </ul>
    </div>
</li> 