<h4>DB Management Module</h4>
<h5><a href="#db">DB Collections</a><span class="icon-right-open">{{title}}</span></h5>
<div class="content">
    <table class="collection-content" data-hook="collection-content">
        <tbody class="collection-docs" data-hook="collection-docs">
        </tbody>
    </table>
</div>