<h4>DB Management Module</h4>
<h5>DB Collections</h5>
<div class="notification" data-hook="notification">
    <span>Collection was deleted! </span><a data-hook="undo">Undo</a>
</div>
<ul id="collections-list" data-hook="collections-list">
    <li class="collection-item">
        <input class="collection-title" type="text"  placeholder="Add New Collection" name="collection-title" data-hook="new-collection-title">
    </li>
</ul>