    <a href="#dashboard" data-hook="menu-block" module-name="dashboard">
        <div class="menu-block red">
            <div class="title">
                Dashboard
            </div>
        </div>
    </a><!--
--><a href="#settings" data-hook="menu-block" module-name="settings">
        <div class="menu-block green">
            <div class="title">
                Settings
            </div>
        </div>
    </a><!--
--><a href="#users" data-hook="menu-block" module-name="users">
        <div class="menu-block orange">
            <div class="title">
                Users
            </div>
        </div>
    </a><!--
--><a href="#db" data-hook="menu-block" module-name="db">
        <div class="menu-block blue">
            <div class="title">
                DB
            </div>
        </div>
</a><!--
--><div class="menu-block add-new" data-hook="menu-block">
        <div class="title">
            + Add New!
        </div>
    </div>