/*
 *  VARS
 */

    /*Font colors*/
font_default = #919191      /* default font color */
font_green = rgb(107,165,0)
font_red = rgb(234, 4, 4)
font_blue = rgb(76, 69, 232)
font_orange = rgb(255, 137, 0)

fontFamily = Open Sans, Helvetica, sans-serif    /* default font */

/*
 * MIXINs
 */

box-sizing(value=border-box)
    -webkit-box-sizing: value
    -moz-box-sizing: value
    box-sizing: value

border-radius(value=5px)
    -moz-border-radius:value
    -webkit-border-radius:value
    border-radius:value

background-linear-gradient()
    background-image: -webkit-linear-gradient(arguments)
    background-image: -moz-linear-gradient(arguments)
    background-image: -o-linear-gradient(arguments)
    background-image: linear-gradient(arguments)

transition(time=2s)
    -webkit-transition width time, height time, font-size time, visibility time, opacity time, border time, transform time
    transition width time, height time, font-size time, visibility time, opacity time, border time, transform time

transform()
    -webkit-transform: arguments
    -moz-transform: arguments
    -ms-transform: arguments
    transform: arguments

box-shadow()
    box-shadow: arguments
    -moz-box-shadow: arguments
    -webkit-box-shadow: arguments


/*
 * RULES
 */

    /*Elements*/

*
    box-sizing()
    font-family: fontFamily
    margin: 0

body
    color: font_default

#wrapper
    display: block
    width: 100%
    height: 100%

#main-block
    position: absolute
    display: inline-block
    margin-left: 15%
    padding-left: 20px
    border-left: 1px solid #ded3d3
    min-height: 100%
    max-height: auto
    width: 85%

    h4
        padding: 50px 0 20px 0
    
    h5
        a
            color: inherit
        
#side-block
    position: absolute
    display: inline-block
    float: left
    width: 15%
    height: 100%

#user-info
    display: table
    margin: 0 auto
    width: 80%
    height: 50px

    a, a:hover, a:visited, a:active
        display: inline-block
        text-decoration: none
        color: font_default

#module-list
    margin-top: 50%
    
    a
        text-decoration: none

.menu-block
    position: relative
    display: table
    margin: 0 auto 10px auto
    padding: 20px
    height: 50px
    width: 80%
    cursor: pointer
    vertical-align: top
    transition(0.3s)
        
    &:active
        font-size: 1em
        font-weight: normal
        
.title
    display: table-cell
    vertical-align: middle
    text-align: center

.add-new
    color: font_default
    transition(0.3s)
    border: 1px dashed #ded3d3

    &:hover
        font-weight: bold
        box-shadow(inset 0 0 1em grey)

.content
    position: relative
    width: 100%
    height: inherit
    margin-top: 30px
    overflow-x: auto
    overflow-y: auto

#collections-list
    margin-top: 20px
    width: 300px
    list-style: none

.collection-item
    position: relative
    display: block
    margin-top: 5px

    &:hover > .collection-actions
        width: auto
        opacity: 1
        transform(translateX(33.33%))
    &:hover > .collection-title
        font-weight: bold
        color: rgba(107,165,0,1)
        
    input
        margin-bottom: 10px
        width: auto
        border: none
        border-bottom: 1px dashed #ded3d3
        padding-left: 10px

        &:focus
            border: none
    span
        cursor: pointer

.collection-title
    position: relative
    display: inline-block
    cursor: default

.collection-actions
    position: relative
    display: inline-block
    margin: 0
    left: -60px
    opacity: 0
    transition(0.5s)
    
    ul
        display: block
        list-style:none
        
        li
            display: inline-block
            font-weight: bold
        
            a
                text-decoration: none
                color: inherit


.collection-content
    position:relative
    font-size: 0.8 em
    max-width: 10%
    overflow: scroll    
    
    th
        display: table-cell
        padding: 5px
        text-align: left

    tr

        td
            display: table-cell
            position:relative
            padding: 5px
            min-width: 0
            max-width: 200px
            overflow: hidden

            input
                max-width: fit-content

.icon-trash
    cursor: pointer
    &:hover
        color: font_red

.icon-folder-open
    
    &:hover
        color: font_blue

.hidden
    display: none

.notification
    position: absolute
    display: block
    top: 30px
    margin: 0 40%
    padding: 10px
    width: auto
    text-align: center
    font: small normal
    transition(0.4s)
    opacity: 0
    color: #beaf00
    background: rgb(238, 255, 30); /* Old browsers */
    background-linear-gradient(top, rgb(243, 255, 96) 0%, rgb(238, 255, 30) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243, 255, 96,1)), color-stop(100%,rgba(238, 255, 30,1))); /* Chrome,Safari4+ */
    box-shadow(0 0 1.1em rgb(243, 255, 96))

    a
        text-decoration: underline
        cursor: pointer
        font-weight: bold



/*COLORS*/

.green
    color: #054005
    background: rgb(143,196,0); /* Old browsers */
    background-linear-gradient(top, rgba(143,196,0,1) 0%, rgba(107,165,0,1) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(107,165,0,1))); /* Chrome,Safari4+ */
    
    &:hover
        box-shadow(inset 0 0 1em #054005)

.red
    color: #790000
    background: rgb(226, 21, 21); /* Old browsers */
    background-linear-gradient(top, rgb(244, 62, 62) 0%, font_red 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244, 62, 62,1)), color-stop(100%,rgba(234, 4, 4,1))); /* Chrome,Safari4+ */
    
    &:hover
        box-shadow(inset 0 0 1em #790000)

.blue
    color: #001276
    background: rgb(29, 21, 226); /* Old browsers */
    background-linear-gradient(top, rgb(104, 99, 221) 0%, font_blue 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104, 99, 221,1)), color-stop(100%,rgba(76, 69, 232,1))); /* Chrome,Safari4+ */
    
    &:hover
        box-shadow(inset 0 0 1em #001276)

.orange
    color: #be5000
    background: rgb(226, 171, 21); /* Old browsers */
    background-linear-gradient(top, rgb(253, 155, 70) 0%, font_orange 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253, 155, 70,1)), color-stop(100%,rgba(255, 137, 0,1))); /* Chrome,Safari4+ */
    
    &:hover
        box-shadow(inset 0 0 1em #be5000)

.yellow
    color: #beaf00
    background: rgb(238, 255, 30); /* Old browsers */
    background-linear-gradient(top, rgb(243, 255, 96) 0%, rgb(238, 255, 30) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243, 255, 96,1)), color-stop(100%,rgba(238, 255, 30,1))); /* Chrome,Safari4+ */
    
    &:hover
        box-shadow(inset 0 0 1em #beaf00)





.green-font
    color: font_green

.red-font
    color: font_red

.blue-font
    color: font_blue

.orange-font
    color: font_orange

/*
  FONTS
*/

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(fonts/OpenSans.woff2) format(woff2)

/* icon font */
@font-face {
    font-family: 'font_awesome_mine';
    src: url('fonts/font_awesome_mine.eot?22364549');
    src: url('fonts/font_awesome_mine.eot?22364549#iefix') format('embedded-opentype'),
       url('fonts/font_awesome_mine.woff?22364549') format('woff'),
       url('fonts/font_awesome_mine.ttf?22364549') format('truetype'),
       url('fonts/font_awesome_mine.svg?22364549#font_awesome_mine') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font_awesome_mine';
    src: url('../font/font_awesome_mine.svg?22364549#font_awesome_mine') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "font_awesome_mine";
    font-style: normal;
    font-weight: normal;
    speak: none;
 
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
    margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-ok-circled2:before { content: '\e803'; } /* '' */
.icon-ok-squared:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-minus-squared:before { content: '\e810'; } /* '' */
.icon-lock:before { content: '\e811'; } /* '' */
.icon-lock-open:before { content: '\e812'; } /* '' */
.icon-lock-open-alt:before { content: '\e813'; } /* '' */
.icon-pin:before { content: '\e814'; } /* '' */
.icon-upload:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-share:before { content: '\e817'; } /* '' */
.icon-edit:before { content: '\e818'; } /* '' */
.icon-pencil-squared:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e81a'; } /* '' */
.icon-bell-alt:before { content: '\e81b'; } /* '' */
.icon-bell:before { content: '\e81c'; } /* '' */
.icon-attention-alt:before { content: '\e81d'; } /* '' */
.icon-attention:before { content: '\e81e'; } /* '' */
.icon-attention-circled:before { content: '\e81f'; } /* '' */
.icon-trash:before { content: '\e820'; } /* '' */
.icon-doc-inv:before { content: '\e821'; } /* '' */
.icon-doc-text:before { content: '\e822'; } /* '' */
.icon-doc:before { content: '\e823'; } /* '' */
.icon-folder:before { content: '\e824'; } /* '' */
.icon-folder-open:before { content: '\e825'; } /* '' */
.icon-menu:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e827'; } /* '' */
.icon-wrench:before { content: '\e828'; } /* '' */
.icon-cog-alt:before { content: '\e829'; } /* '' */
.icon-resize-full-alt:before { content: '\e82a'; } /* '' */
.icon-resize-full:before { content: '\e82b'; } /* '' */
.icon-resize-vertical:before { content: '\e82c'; } /* '' */
.icon-resize-horizontal:before { content: '\e82d'; } /* '' */
.icon-move:before { content: '\e82e'; } /* '' */
.icon-zoom-in:before { content: '\e82f'; } /* '' */
.icon-zoom-out:before { content: '\e830'; } /* '' */
.icon-down-dir:before { content: '\e831'; } /* '' */
.icon-up-dir:before { content: '\e832'; } /* '' */
.icon-left-dir:before { content: '\e833'; } /* '' */
.icon-right-dir:before { content: '\e834'; } /* '' */
.icon-down-open:before { content: '\e835'; } /* '' */
.icon-left-open:before { content: '\e836'; } /* '' */
.icon-right-open:before { content: '\e837'; } /* '' */
.icon-up-open:before { content: '\e838'; } /* '' */
.icon-angle-left:before { content: '\e839'; } /* '' */
.icon-angle-right:before { content: '\e83a'; } /* '' */
.icon-angle-up:before { content: '\e83b'; } /* '' */
.icon-angle-down:before { content: '\e83c'; } /* '' */
.icon-angle-circled-left:before { content: '\e83d'; } /* '' */
.icon-angle-circled-right:before { content: '\e83e'; } /* '' */
.icon-angle-circled-down:before { content: '\e83f'; } /* '' */
.icon-angle-circled-up:before { content: '\e840'; } /* '' */
.icon-circle:before { content: '\e841'; } /* '' */
.icon-filter:before { content: '\e842'; } /* '' */
.icon-euro:before { content: '\e843'; } /* '' */
.icon-dollar:before { content: '\e844'; } /* '' */
.icon-sort-down:before { content: '\e845'; } /* '' */
.icon-sort:before { content: '\e846'; } /* '' */
.icon-sort-up:before { content: '\e847'; } /* '' */
.icon-sort-alt-up:before { content: '\e848'; } /* '' */
.icon-sort-alt-down:before { content: '\e849'; } /* '' */
.icon-sort-name-down:before { content: '\e84a'; } /* '' */
.icon-sort-number-up:before { content: '\e84b'; } /* '' */
.icon-sort-name-up:before { content: '\e84c'; } /* '' */
.icon-sort-number-down:before { content: '\e84d'; } /* '' */
.icon-spinner:before { content: '\e84e'; } /* '' */